<nav>
  <ul class="navbar">
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/tasks/new">Add New Task</a></li>
      <li><a href="/tasks">View Tasks</a></li>
      <li><a href="/search">Search Tasks</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/register">Register</a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/about">About</a></li>
  </ul>
</nav>
