<!DOCTYPE html>
<html>
<head>
    <title>About <%= taskManagerData.appName %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1><%= taskManagerData.appName %></h1>
    
    <p>This application, <%= taskManagerData.appName %>, is designed to help users manage their tasks effectively. With features like task viewing, searching, and user account management, it serves as a comprehensive personal task organiser.</p>
</body>
</html>
