<!DOCTYPE html>
<html>
<head>
    <title><%= taskManagerData.appName %> - Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Login to <%= taskManagerData.appName %></h1>
    
    <form action="<%= baseUrl %>/login" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        
        <button type="submit">Login</button>
    </form>
</body>
</html>
